:root{
  --sidebar-space: 
}

body{
  margin: 0;
  padding: 0;
}

.container{
display:grid;
grid-template-columns: 1fr 2.5fr;
grid-template-rows: 100vh;
}

.side-bar{
   background-color: #3f76ec;
   display: grid;
   grid-template-rows: 13vh 39vh 26vh
   
}
.sidebar-heading{
 
}

.admin-board{
   background-color: ;
}

.dash-logo{
  font-size: 40px;
  color: white;
  margin-top: 7px;
  margin-right: 4px;
  margin-left: -60px;
}

.sidebar-title{
  color:white;
  font-size: 25px;
}

.sidebar-heading{
  display: flex;
  justify-content: center;
}

ul{
  list-style-type: none;
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul > li{
  font-size: 20px;
  margin-bottom: 20px;
  
}

ul > li > span{
  margin-right: 15px;
}